<form class="form-inline">
    <div class="form-group mb-2">
      <input type="text" readonly class="form-control-plaintext" id="staticRecherche" value="Recherche par nom">
    </div>
    <div class="form-group mx-sm-3 mb-2">
      <label for="inputNom" class="sr-only">Entrer un nom</label>
      <input type="nom" class="form-control" id="inputNom" placeholder="Nom">
    </div>
    <button type="button" class="btn btn-outline-secondary float-right" (click)="rechercheCollegue()">Rechercher</button>
  </form>