<nav class="navbar navbar-expand-sm bg-light navbar-light">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarCollapse">
   
    <ul class="navbar-nav mr-auto">

        <li class=nav-item>
            <a class="nav-link" routerLink="/accueil" >Accueil</a>
        </li>

        <li class=nav-item>
            <a class="nav-link" routerLink="/gallerie" >Gallerie</a>
        </li>

        <li class=nav-item>    
            <a class="nav-link" routerLink="/apropos" >A propos</a>
        </li>

    </ul>   
</div>     
</nav>

