<div class="container" >
    <div class="row">
      <div class="col-12 col-sm-4" >
        <span *ngIf="noModif"><img class="mx-auto d-block img-fluid"  src="{{ collegue['photoUrl'] }}"/></span>
      </div>
      <div class="col-12 col-sm-8" >
        <p>Matricule :  {{ collegue['matricule'] }}<br />
          Nom : {{ collegue['nom'] | uppercase }}<br />
          Prenom : {{ collegue['prenoms'] }} <br />
          Date de naissance : {{ collegue['dateDeNaissance' ] | date:'d MMM y' }}<br />
          <span *ngIf="noModif">Email :  {{ collegue['email'] }}</span>
      </p>
        <form *ngIf="modif" action="">
          <label for="email">Email : </label>
          <input type="text" id="email" name="email" ><br/>
          <label for="date">Photo Url : </label>
          <input type="text" id="photoUrl" name="photoUrl" ><br/>

          <button type="button" class="btn btn-outline-secondary float-right" >Valider</button>
        </form>

        <a *ngIf="noModif" href="#"  (click)="afficheConsoleCrea()">Créer un nouveau collègue</a>
        <button *ngIf="noModif" type="button" class="btn btn-outline-secondary float-right" (click)="afficheConsoleModif()">Modifier</button>
      </div>
    </div>
</div>
