<div class="modal-header">
    <h4>Nouveau Collègue</h4>
  </div>
  <div class="modal-body">
    <form >
      <div class="col-12 col-md-12 form-group">
        <div class="row">
          <div class="col">
            <p>Nom :</p>
          </div>
          <div class="col">
            <input  class="form-control" placeholder="Nom" name="nom" >
          </div>
        </div>
        <div class="row">
          <div class="col">
            <p>Prenom : </p>
          </div>
          <div class="col">
            <input  class="form-control" placeholder="Prénom" name="prenoms" >
          </div>
        </div>
        <div class="row">
          <div class="col">
            <p >Date de naissance : </p>
          </div>
          <div class="col">
            <input type="date" class="form-control" name="dateNaissance" >
          </div>
        </div>
        <div class="row">
          <div class="col">
            <p>Email : </p>
          </div>
          <div class="col">
            <input type="email"  class="form-control" placeholder="exemple@gmail.com" name="email" >
          </div>
        </div>
        <div class="row">
          <div class="col">
            <p>PhotoUrl : </p>
          </div>
          <div class="col">
            <input  class="form-control" placeholder="http://..." name="photo">
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <button class="btn btn-outline-secondary mr-2" (click)="creationCollegue()" >Valider</button>
        </div>
        <div class="col">
          <button type="button" class="btn btn-outline-secondary mr-2" >Retour</button>
        </div>
      </div>


    </form>

  </div>
